@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
/* Defines custom DINPro and DINPro bold fonts */
@font-face {
  font-family: 'DINPro';
  src: url("../fonts/DINPro-Regular.otf"); }

@font-face {
  font-family: 'DINPro';
  font-weight: 600;
  src: url("../fonts/DINPro-Bold.otf"); }

@font-face {
  font-family: 'Damion';
  src: url("../fonts/Damion-Regular.ttf"); }

html {
  font-size: 62.5%; }

html {
  overflow-x: hidden; }
  @media (max-width: 575.98px) {
    html {
      font-size: 55%; } }
  @media (min-width: 576px) and (max-width: 767.98px) {
    html {
      font-size: 58%; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    html {
      font-size: 60%; } }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    html {
      font-size: 62.5%; } }
  @media (min-width: 1200px) {
    html {
      font-size: 62.5%; } }

body {
  padding: 0;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: 'Poppins', sans-serif;
  position: relative; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

h1 {
  font-family: 'DINPro';
  font-weight: bold;
  font-size: 3.6rem; }

h2 {
  font-family: 'DINPro';
  font-size: 2.8rem; }

h3 {
  font-size: 2.6rem;
  font-weight: bold; }

h4 {
  font-size: 1.8rem;
  font-weight: bold; }

a {
  color: #00f5f5; }
  a:hover {
    color: #00f5f5; }

::selection {
  background: #b6a1c4;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: #b6a1c4;
  /* Gecko Browsers */ }

html {
  background-color: #000000; }

@media (max-width: 767.98px) {
  #mlh-trust-badge {
    position: absolute !important;
    top: 0;
    right: 1.5rem !important; } }

.donation-main {
  max-width: 50px; }

.dono-nav {
  background: #2d2d2d; }

.sponsor-img {
  filter: brightness(200%) grayscale(1); }

.button, .register-button, .dono-button, .hero-button, article.contact .list-inline li a {
  background-color: transparent;
  border: 3px solid;
  border-radius: 50rem;
  padding: 1.4rem 7.2rem;
  font-size: 2.2rem;
  color: #ffffff;
  font-family: "DINPro";
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  top: 0;
  position: relative;
  transition: all ease .15s; }
  .button:after, .register-button:after, .dono-button:after, .hero-button:after, article.contact .list-inline li a:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    transition: ease all .15s; }
  .button:hover, .register-button:hover, .dono-button:hover, .hero-button:hover, article.contact .list-inline li a:hover {
    text-decoration: none;
    color: white; }
    .button:hover:after, .register-button:hover:after, .dono-button:hover:after, .hero-button:hover:after, article.contact .list-inline li a:hover:after {
      opacity: .4; }
  .button:active:after, .register-button:active:after, .dono-button:active:after, .hero-button:active:after, article.contact .list-inline li a:active:after {
    opacity: .8; }

.register-button {
  border-color: #ffffff; }
  .register-button:hover {
    background-color: #ffffff;
    color: #ff7bac; }

.dono-button {
  font-size: 1.5em;
  border-color: #ffffff; }
  .dono-button:hover {
    background-color: #ffffff;
    color: #ff7bac; }

.star-layer {
  position: relative;
  z-index: 0; }

.hero-stars {
  position: absolute;
  z-index: -5;
  width: 180%;
  height: 280%;
  margin-top: -80em;
  margin-left: -8em; }
  @media (max-width: 992px) {
    .hero-stars {
      z-index: -5;
      width: 240%;
      margin-top: -95rem;
      margin-left: -25em;
      padding-bottom: 18em; } }

@media (max-width: 780px) {
  .hero-btn-row .hero-button {
    display: block;
    margin-bottom: 1rem; } }

.hero-button {
  font-size: 2rem;
  color: white;
  background-color: transparent;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-bottom: 2px solid #00f5f5;
  margin: 0 1.5rem; }

.section, article.body section.dono, article.body section.intro, article.body section.registration, article.body section.sched, article.body section.faq, article.body section.donate, article.body section.sponsors, section.dono, section.sched, article.contact {
  padding-top: 8rem;
  padding-bottom: 8rem; }
  @media (max-width: 767.98px) {
    .section, article.body section.dono, article.body section.intro, article.body section.registration, article.body section.sched, article.body section.faq, article.body section.donate, article.body section.sponsors, section.dono, section.sched, article.contact {
      padding-top: 4rem;
      padding-bottom: 4rem; } }
  .section .heading, article.body section.dono .heading, article.body section.intro .heading, article.body section.registration .heading, article.body section.sched .heading, article.body section.faq .heading, article.body section.donate .heading, article.body section.sponsors .heading, section.dono .heading, section.sched .heading, article.contact .heading {
    text-align: left;
    position: relative;
    z-index: 0;
    margin-bottom: 6rem; }
  .section p, article.body section.dono p, article.body section.intro p, article.body section.registration p, article.body section.sched p, article.body section.faq p, article.body section.donate p, article.body section.sponsors p, section.dono p, section.sched p, article.contact p {
    margin-bottom: 2rem;
    opacity: .8; }

#bg-video {
  position: absolute;
  top: -0px;
  left: 0;
  z-index: 2;
  min-width: 100%;
  min-height: 120%;
  opacity: 1; }

.bg-video-overlay {
  display: block;
  background: #222222;
  background: linear-gradient(0deg, #222222 5%, rgba(34, 34, 34, 0.5) 100%);
  z-index: 3;
  top: 0;
  left: 0;
  position: absolute;
  min-width: 100%;
  min-height: 100%; }

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }
  .video-responsive .video {
    border-radius: .8rem;
    overflow: hidden; }

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

.lavender {
  color: #b6a1c4; }

.cyan {
  color: #00f5f5;
  color: #00f5f5; }

.dono-jumbotron {
  background-image: url(../img/donate-hero-background.png);
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 12rem;
  padding-bottom: 12rem;}

.dono-heading {
  padding-bottom: 1em;
  font-size: 4em;
  color: #ff7bac;
  margin-botton: 3rem;}

.main-dono-head {
  color: #ffffff;
  font-size: 4em;
  font-weight: 650 !important; }

.dono-val {
  font-size: 3em; }

.dono-label {
  padding-bottom: 2.5em; }

.dono-thank-you {
  magin: auto; }

.dono-img {
  border-radius: 5%;
  max-width: 100%;
  height: 300px;
  background-image: url(../img/donation_page/donation-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.dono-img-2 {
  border-radius: 5%;
  max-width: 100%;
  height: 300px;
  background-image: url(../img/donation_page/donation-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.white {
  color: #ffffff; }

article.hero {
  text-align: left;
  background: #ff7bac;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ff7bac, #A5AECC, #7984A9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ff7bac, #A5AECC, #7984A9);
  padding-top: 20rem;
  overflow: hidden;
  position: relative; }
  article.hero .container {
    position: relative;
    z-index: 5; }
  article.hero img.pre-brand {
    width: 30rem;
    display: block;
    margin-bottom: 6rem; }
  article.hero img.brand {
    width: 60rem;
    max-width: 90%;
    margin-bottom: 4rem; }
  article.hero h2 {
    color: #ffffff;
    margin-bottom: 8rem; }
    article.hero h2 .faded {
      opacity: .4; }
  article.hero h4 {
    font-family: 'Damion';
    color: #ffffff;
    margin-bottom: 4rem;
    font-size: 5rem;
    font-weight: normal; }
  article.hero img.rocket {
    width: 100%;
    margin-top: -16rem; }
    @media (max-width: 992px) {
      article.hero img.rocket {
        margin-top: 0rem; } }
  article.hero img.dono-1 {
    border-radius: 50%; }
    @media (max-width: 50px) {
      article.hero img.dono-1 {
        margin-top: 0rem; } }

article.body {
  color: #464343;
  background-color: #ffffff;
  padding-bottom: 0rem;
  position: relative;
  z-index: 5;
  font-size: 1.8rem; }
  article.body section.dono {
    background-color: #2d2d2d;
    color: #ffffff; }
  article.body section.intro .video {
    border-radius: .8rem;
    overflow: hidden; }
  article.body section.intro iframe {
    width: 100%;
    height: 32rem;
    background-color: black; }
    @media (max-width: 767.98px) {
      article.body section.intro iframe {
        margin-top: 4rem; } }
  article.body section.registration {
    background-color: #243D49;
    background: -webkit-linear-gradient(to bottom, #66A4B3, #192E3A);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #66A4B3, #192E3A);
    color: #ffffff; }
    article.body section.registration .col-lg-3 {
      padding: .5rem; }
    article.body section.registration div.register-card {
      font-size: 1.5rem !important;
      border: 3px solid white;
      padding: 2.5rem;
      border-radius: 2rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      -webkit-flex: 1;
      /* Safari 6.1+ */
      -ms-flex: 1;
      /* IE 10 */
      flex: 1; }
      @media (max-width: 992px) {
        article.body section.registration div.register-card {
          margin-bottom: 12rem; } }
      article.body section.registration div.register-card p {
        text-align: left; }
      article.body section.registration div.register-card .disabled {
        opacity: .5 !important;
        pointer-events: none !important; }
      article.body section.registration div.register-card div.img-holder {
        border: 3px solid white;
        background-color: #243D49;
        border-radius: 7rem;
        position: relative;
        top: -11rem;
        align-self: center;
        width: 14rem;
        height: 14rem;
        display: flex;
        justify-content: center;
        align-items: center; }
        article.body section.registration div.register-card div.img-holder img {
          width: 8rem; }
          article.body section.registration div.register-card div.img-holder img.ufo {
            width: 10rem; }
      article.body section.registration div.register-card .button, article.body section.registration div.register-card .register-button, article.body section.registration div.register-card .dono-button, article.body section.registration div.register-card .hero-button, article.body section.registration div.register-card article.contact .list-inline li a, article.contact .list-inline li article.body section.registration div.register-card a {
        padding: .8rem 0rem;
        width: 100%;
        display: block;
        margin-bottom: 0;
        margin-top: auto;
        background-color: transparent;
        border-radius: 5%;
        font-size: 1.5rem; }
      article.body section.registration div.register-card.cyan {
        display: flex;
        text: white;
        border-color: #00f5f5; }
        article.body section.registration div.register-card.cyan .img-holder {
          border-color: #00f5f5; }
        article.body section.registration div.register-card.cyan a {
          border-color: #00f5f5; }
          article.body section.registration div.register-card.cyan a:hover {
            background-color: #00f5f5; }
      article.body section.registration div.register-card.lavender {
        display: flex;
        border-color: #b6a1c4; }
        article.body section.registration div.register-card.lavender .img-holder {
          border-color: #b6a1c4; }
        article.body section.registration div.register-card.lavender a {
          border-color: #b6a1c4; }
          article.body section.registration div.register-card.lavender a:hover {
            background-color: #b6a1c4; }
      article.body section.registration div.register-card.pink {
        display: flex;
        border-color: #ff7bac; }
        article.body section.registration div.register-card.pink .img-holder {
          border-color: #ff7bac; }
        article.body section.registration div.register-card.pink a {
          border-color: #ff7bac; }
          article.body section.registration div.register-card.pink a:hover {
            background-color: #ff7bac; }
      article.body section.registration div.register-card p {
        color: white;
        margin-top: -8rem;
        margin-bottom: 4rem; }
  article.body section.sched {
    background-color: #243D49;
    color: #ffffff; }
    article.body section.sched h1 {
      margin-bottom: 4rem; }
    article.body section.sched h3 {
      text-align: left;
      margin-bottom: 2rem; }
    article.body section.sched .app {
      max-width: 16rem;
      margin: 0px 4px;
      opacity: .7;
      transition: ease all .1s; }
      article.body section.sched .app:hover {
        opacity: 1;
        transform: scale(1.05); }
    article.body section.sched .schedule-table {
      margin-top: 4rem;
      text-align: left;
      width: 100%; }
      article.body section.sched .schedule-table tr {
        border-bottom: 2px solid #464343; }
        article.body section.sched .schedule-table tr.heading {
          border: none; }
          article.body section.sched .schedule-table tr.heading h3 {
            color: #b6a1c4; }
        article.body section.sched .schedule-table tr.subheading h3 {
          padding-top: 6rem; }
      article.body section.sched .schedule-table th, article.body section.sched .schedule-table td {
        min-width: 12rem;
        padding: 1rem; }
  article.body section.faq {
    background-color: #122230;
    background: -webkit-linear-gradient(to bottom, #192E3A, #12202B);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #192E3A, #12202B);
    color: #ffffff; }
    article.body section.faq .heading {
      margin-bottom: 2rem; }
    article.body section.faq .accordion {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      width: 100%;
      border: none;
      padding-bottom: 1rem;
      padding-top: 4rem;
      margin-bottom: 2rem;
      border-bottom: 3px solid rgba(255, 255, 255, 0.1);
      background-color: transparent;
      text-align: left;
      outline: none;
      transition: ease all 0.3s; }
    article.body section.faq .active, article.body section.faq .accordion:hover {
      border-color: #00f5f5; }
      @media (max-width: 767.98px) {
        article.body section.faq .active, article.body section.faq .accordion:hover {
          border-color: #464343; } }
    @media (max-width: 767.98px) {
      article.body section.faq .accordion:active {
        border-color: #00f5f5; } }
    article.body section.faq .panel {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.1s ease-out; }
  article.body section.donate {
    background-color: #101f2b;
    color: white; }
    article.body section.donate .caption {
      margin-bottom: 4rem; }
    article.body section.donate .button:hover, article.body section.donate .register-button:hover, article.body section.donate .dono-button:hover, article.body section.donate .hero-button:hover, article.body section.donate article.contact .list-inline li a:hover, article.contact .list-inline li article.body section.donate a:hover {
      background-color: #ffffff;
      color: #ff7bac;
      border-color: #ffffff; }
  article.body section.sponsors {
    background-color: #0D1924;
    background: -webkit-linear-gradient(to bottom, #12202B, #1C1F22);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #12202B, #1C1F22);
    color: white; }
    article.body section.sponsors h1 {
      margin-bottom: 4rem; }
    article.body section.sponsors img.site-stars {
      position: absolute;
      overflow: hidden;
      justify-content: left;
      margin-left: -5%; }
    article.body section.sponsors img.blueplanet {
      position: relative;
      width: 25%;
      left: -50%;
      margin-top: -15%;
      top: 10%; }
      @media (max-width: 500px) {
        article.body section.sponsors img.blueplanet {
          margin-left: -60%;
          margin-top: -30%; } }
    article.body section.sponsors img.purpleplanet {
      position: relative;
      width: 20%;
      left: 50%;
      margin-top: -50%;
      margin-left: -25%; }
      @media (max-width: 500px) {
        article.body section.sponsors img.purpleplanet {
          margin-top: 0rem; } }
    article.body section.sponsors .caption {
      position: relative;
      margin-bottom: 4rem;
      z-index: 100; }
    article.body section.sponsors .base-sponsor, article.body section.sponsors .gold-sponsor, article.body section.sponsors .silver-sponsor, article.body section.sponsors .sponsor, article.body section.sponsors .small-sponsor {
      padding: 4rem 0rem; }
      article.body section.sponsors .base-sponsor img, article.body section.sponsors .gold-sponsor img, article.body section.sponsors .silver-sponsor img, article.body section.sponsors .sponsor img, article.body section.sponsors .small-sponsor img {
        max-width: 24rem;
        max-height: 6rem;
        opacity: .7;
        transition: ease all .1s; }
        article.body section.sponsors .base-sponsor img:hover, article.body section.sponsors .gold-sponsor img:hover, article.body section.sponsors .silver-sponsor img:hover, article.body section.sponsors .sponsor img:hover, article.body section.sponsors .small-sponsor img:hover {
          opacity: 1;
          transform: scale(1.05); }
    article.body section.sponsors .gold-sponsor img {
      max-width: 28rem;
      max-height: 8rem; }
    article.body section.sponsors .accordion {
      display: flex;
      justify-content: space-between;
      width: 100%;
      border: none;
      padding-bottom: 1rem;
      padding-top: 4rem;
      margin-bottom: 2rem;
      background-color: transparent;
      border-bottom: 3px solid #00f5f5;
      text-align: left;
      outline: none;
      transition: ease all 0.3s; }

section.dono div.register-card {
  border: 3px solid white;
  padding: 1rem;
  border-radius: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  -webkit-flex: 1;
  /* Safari 6.1+ */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1; }
  @media (max-width: 992px) {
    section.dono div.register-card {
      margin-bottom: 12rem; }
      section.dono div.register-card.last {
        margin-bottom: 4rem; } }
  section.dono div.register-card heading {
    color: #ff7bac; }
  section.dono div.register-card p {
    text-align: left; }
  section.dono div.register-card .disabled {
    opacity: .5 !important;
    pointer-events: none !important; }
  section.dono div.register-card div.img-holder {
    background-color: #2d2d2d;
    border: 3px solid white;
    border-radius: 7rem;
    position: relative;
    top: -11rem;
    align-self: center;
    width: 14rem;
    height: 14rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    section.dono div.register-card div.img-holder img {
      width: 8rem; }
      section.dono div.register-card div.img-holder img.ufo {
        width: 10rem; }
  section.dono div.register-card .dono-prices {
    padding-left: 3rem;
    padding-right: 3rem; }
  section.dono div.register-card .cyan-text {
    color: #00f5f5; }
  section.dono div.register-card .pink-text {
    color: #ff7bac; }
  section.dono div.register-card .lavender-text {
    color: #b6a1c4; }
  section.dono div.register-card .button, section.dono div.register-card .register-button, section.dono div.register-card .dono-button, section.dono div.register-card .hero-button, section.dono div.register-card article.contact .list-inline li a, article.contact .list-inline li section.dono div.register-card a {
    padding: .8rem 0rem;
    width: 100%;
    display: block;
    margin-bottom: 0;
    margin-top: auto;
    background-color: transparent; }
  section.dono div.register-card.cyan {
    display: flex;
    border-color: #00f5f5; }
    section.dono div.register-card.cyan .img-holder {
      border-color: #00f5f5; }
    section.dono div.register-card.cyan a {
      border-color: #00f5f5; }
      section.dono div.register-card.cyan a:hover {
        background-color: #00f5f5; }
  section.dono div.register-card.lavender {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: flex;
    border-color: #b6a1c4; }
    section.dono div.register-card.lavender .img-holder {
      border-color: #b6a1c4; }
    section.dono div.register-card.lavender a {
      border-color: #b6a1c4; }
      section.dono div.register-card.lavender a:hover {
        background-color: #b6a1c4; }
  section.dono div.register-card.pink {
    display: flex;
    border-color: #ff7bac; }
    section.dono div.register-card.pink .img-holder {
      border-color: #ff7bac; }
    section.dono div.register-card.pink a {
      border-color: #ff7bac; }
      section.dono div.register-card.pink a:hover {
        background-color: #ff7bac; }
  section.dono div.register-card p {
    margin-top: -8rem;
    margin-bottom: 4rem; }

section.sched {
  background-color: #243D49;
  color: #ffffff; }
  section.sched h1 {
    margin-bottom: 4rem; }
  section.sched h3 {
    text-align: left;
    margin-bottom: 2rem; }
  section.sched .app {
    max-width: 16rem;
    margin: 0px 4px;
    opacity: .7;
    transition: ease all .1s; }
    section.sched .app:hover {
      opacity: 1;
      transform: scale(1.05); }
  section.sched .schedule-table {
    margin-top: 4rem;
    text-align: left;
    width: 100%; }
    section.sched .schedule-table tr {
      border-bottom: 2px solid #464343; }
      section.sched .schedule-table tr.heading {
        border: none; }
        section.sched .schedule-table tr.heading h3 {
          color: #b6a1c4; }
      section.sched .schedule-table tr.subheading h3 {
        padding-top: 6rem; }
    section.sched .schedule-table th, section.sched .schedule-table td {
      min-width: 12rem;
      padding: 1rem; }

article.contact {
  background-color: #070D13;
  text-align: center;
  position: relative;
  z-index: 5; }
  article.contact .heading {
    text-align: center; }
  article.contact h1 {
    margin-bottom: 4rem; }
  article.contact h1, article.contact h2 {
    color: #ffffff; }
  article.contact a {
    color: #00f5f5; }
  article.contact .list-inline li {
    list-style: inline;
    display: inline;
    margin-left: 10px;
    margin-right: 10px; }
    article.contact .list-inline li a {
      width: 6rem;
      padding: 0;
      height: 6rem;
      border: none;
      display: inline-block;
      background-color: #00f5f5; }
      article.contact .list-inline li a .social {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        width: 100%;
        height: 100%; }
      article.contact .list-inline li a:hover {
        opacity: .7; }
      article.contact .list-inline li a i {
        font-size: 3rem;
        color: black; }
      @media (max-width: 767.98px) {
        article.contact .list-inline li a {
          margin-bottom: 2rem;
          width: 4rem;
          height: 4rem; }
          article.contact .list-inline li a i {
            font-size: 2rem; } }

article.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
  z-index: 5;
  background-color: #000000;
  text-align: center; }
  article.footer p {
    color: white;
    font-size: 1.8rem; }
  article.footer #footer-links {
    color: #ffffff;
    margin-bottom: 1rem; }

/* Animates main section of the website */
.animate {
  background: linear-gradient(270deg, #00ffff, #ff7bac);
  background-size: 400% 400%;
  -webkit-animation: GradientAnimation 10s ease infinite;
  -moz-animation: GradientAnimation 10s ease infinite;
  animation: GradientAnimation 10s ease infinite; }

.static-gradient {
  background: #ff7bac;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(right, #00ffff, #ff7bac);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #00ffff, #ff7bac);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #00ffff, #ff7bac);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #00ffff, #ff7bac);
  /* Standard syntax */ }

#color-burst-img {
  position: absolute;
  display: none;
  top: -220%;
  pointer-events: none;
  left: -12%;
  width: 120%;
  z-index: 1; }

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap; }

.row-eq-height > [class*='col-'] {
  display: flex;
  flex-direction: column; }

@-webkit-keyframes GradientAnimation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes GradientAnimation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes GradientAnimation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
