@import "base";
@import "vars";

html {
  background-color: $black;
}

#mlh-trust-badge {
  @media (max-width: 767.98px) {
    position: absolute !important;
    top: 0;
    right: 1.5rem !important;
  }
}

.donation-main {
  max-width: 50px;
}

.dono-nav {
  background: $darker-grey;
}


.button {
  background-color: transparent;
  border: 3px solid;
  border-radius: 50rem;
  padding: 1.4rem 7.2rem;
  font-size: 2.2rem;
  color: $white;
  font-family: "DINPro";
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  top: 0;
  position: relative;
  transition: all ease 0.15s;
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    // background-color: white;
    opacity: 0;
    transition: ease all 0.15s;
  }
  &:hover {
    text-decoration: none;
    color: white;
    // top: -.2rem;
    &:after {
      opacity: 0.4;
    }
  }
  &:active {
    &:after {
      opacity: 0.8;
    }
  }
}

.register-button {
  @extend .button;
  z-index: 100;
  border-color: $white;
  &:hover {
    background-color: $white;
    color: $pink;
  }
}

.dono-button {
  @extend .button;
  font-size: 1.5em;
  border-color: $white;
  &:hover {
    background-color: $white;
    color: $pink;
  }
}

.dono-back-button {
  @extend .button;
  font-size: 1.5em;
  border-color: $white;
  &:hover {
    background-color: $white;
    color: $pink;
  }
}

img.hero-stars {
  position: absolute;
  top: -60px;
}

.header {
  position: relative;
  z-index: 1;
  padding-top: 10rem;
}

.hero-btn-row {
  position:absolute;
  z-index: 101;
  @media (max-width: 780px) {
    z-index: 101;
    .hero-button {
      display: block;
      margin-bottom: 1rem;
    }
  }
}

.hero-button {
  @extend .button;
  font-size: 2rem;
  color: white;
  background-color: transparent;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-bottom: 2px solid $cyan;
  margin: 0 1.5rem;
  &:hover {
    // @extend .animate;
  }
}


.section {
  padding-top: 8rem;
  padding-bottom: 8rem;
  @media (max-width: 767.98px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .heading {
    text-align: left;
    position: relative;
    z-index: 0;
    margin-bottom: 6rem;
  }
  p {
    margin-bottom: 2rem;
    opacity: 0.8;
  }
}

#bg-video {
  // position: fixed;
  // right: 0;
  // z-index: 0;
  // bottom: 0;
  position: absolute;
  top: -0px;
  left: 0;
  z-index: 2;
  min-width: 100%;
  min-height: 120%;
  opacity: 1;
}

.bg-video-overlay {
  display: block;

  background: rgb(34, 34, 34);
  background: linear-gradient(
    0deg,
    rgba(34, 34, 34, 1) 5%,
    rgba(34, 34, 34, 0.5) 100%
  );

  z-index: 3;
  top: 0;
  left: 0;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  .video {
    border-radius: 0.8rem;
    overflow: hidden;
  }
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.lavender {
  color: $lavender;
}
.cyan {
  color: $cyan;
  color: $cyan;
}

.dono-text-heading {
  font-size: 4em;
  padding-bottom:1rem;
  //color:$pink;
}

.main-dono-head{
    color:$white;
    font-size:2.5em;
    font-weight: 600 !important;
}

.dono-val {
  font-size: 3em;
}

.dono-label {
  padding-bottom: 2.5em;
}

.dono-thank-you {
  magin: auto;
}

.sponsor-img {
  filter: brightness(200%) grayscale(1);
}

.last-bar{
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(to right, cyan, rgb(255, 153, 255));
  border-image-slice: 1;
  padding: 25px;
}






section.travel-questions {
    @extend .section;
    $section-bg-color: $black;
    background-color: $section-bg-color;
    color: $white;
    padding-top: 1rem;
    margin-top: -3rem;
  }
section.travel-schedule{
    @extend .section;
    $section-bg-color: #112230;
    background-color: $section-bg-color;
    color: $white;
    padding-top: 1rem;
    padding-bottom: 3rem;
    margin-top: -3rem;
    width:100%;
    margin: 0px;
    padding: 0px;


    div.dono-heading {
      padding-bottom: 1em;
      font-size: 4em;
      color:$pink;
      text-align: center;
    }

    .bus-schedule .school{
        color:$pink;
        font-weight: 600;
    }
    .bus-schedule .time{
        color:$cyan;
        font-weight: 600;
    }


    .module-border-wrap {
      padding: 1rem;
      position: relative;
      background: linear-gradient(to right, $cyan, $lavender, $pink);
      padding: .1rem;
    }

    .module-border-wrap:last-child{
        padding-bottom:0;
    }

     .module-border-wrap:first-child{
        padding-top:0;
    }



    .module {
      background:  #112230;
      padding-top: 2rem;

    }


    @media (max-width: 320px) {
        .brand{
            transform:scale(0.75);
        }
    }

}

.bus-jumbotron {
  background: #122230 url(../img/donation_page/donate-background.png) no-repeat center center;
  //background-color: #2d2d2d;
  background-size: cover;
  width: 100%;
  padding-top: 18rem;
  padding-bottom: 20rem;
  div.text-center{
    margin-top: -10rem;
  }
  img.brand {
    @media (min-width: 767.98px) {
      height: 80px;
      width: 400px;
    }
  }
    img.brand {
    @media (max-width: 320px) {
      height: 80px;
      width: 300px;
    }
  }

}
.bus-link{
    margin-top:13.4rem;
    margin-left:1rem;
    font-size:1.7rem;


}

.bus-link a{
    text-decoration: none;
    color:white;
    font-weight:bold;
    transition: ease all .2s;


}
.bus-link a:hover{
    color:$pink;

}






.dono-jumbotron {
  background: #122230 url(../img/donation_page/donate-background.png) no-repeat center center;
  //background-color: #2d2d2d;
  background-size: cover;
  width: 100%;
  padding-top: 18rem;
  padding-bottom: 20rem;
  div.text-center{
    margin-top: -10rem;
  }
  img.brand {
    @media (min-width: 767.98px) {
      height: 80px;
      width: 400px;
    }
  }
    img.brand {
    @media (max-width: 320px) {
      transform:scale(.90);
    }
  }
}

.white{
    color:$white;
}

article {
  // background-color: $bg-black;
}

article.hero {
  $med-sky: #a5aecc;
  $deep-sky: #7984a9;
  text-align: left;
  background: #ff7bac; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    $pink,
    $med-sky,
    $deep-sky
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, $pink, $med-sky, $deep-sky);
  padding-top: 10rem;
  // padding-bottom: 22rem;
  overflow: hidden;
  position: relative;
  .container {
    position: relative;
    z-index: 5;
  }
  img.pre-brand {
    width: 30rem;
    display: block;
    margin-bottom: 6rem;
  }
  img.brand {
    width: 60rem;
    max-width: 90%;
    margin-bottom: 4rem;
  }
  h2 {
    color: $white;
    margin-bottom: 8rem;
    .faded {
      opacity: 0.4;
    }
  }
  h4 {
    font-family: "Damion";
    color: $white;
    margin-bottom: 4rem;
    font-size: 5rem;
    font-weight: normal;
  }
  img.rocket {
    position: relative;
    z-index: 1;
    width: 100%;
    margin-top: -16rem;
    @media (max-width: 992px) {
      margin-top: 0rem;
    }
  }
  img.dono-1 {
    border-radius: 50%;
    @media (max-width: 50px) {
      margin-top: 0rem;
    }
  }
}

.space {
  z-index: -1;
  background: transparent center / 200px 200px round;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
@keyframes space {
  40% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.25;
  }
  60% {
    opacity: 0.75;
  }
  100% {
    transform: rotate(360deg);
  }
}
.stars1 {
  z-index: 0;
  animation: space 180s ease-in-out infinite;
  background-image: radial-gradient(
                  1px 1px at 25px 5px,
                  white,
                  rgba(255, 255, 255, 0)
  ),
  radial-gradient(1px 1px at 50px 25px, white, rgba(255, 255, 255, 0)),
  radial-gradient(1px 1px at 125px 20px, white, rgba(255, 255, 255, 0)),
  radial-gradient(1.5px 1.5px at 50px 75px, white, rgba(255, 255, 255, 0)),
  radial-gradient(2px 2px at 15px 125px, white, rgba(255, 255, 255, 0)),
  radial-gradient(2.5px 2.5px at 110px 80px, white, rgba(255, 255, 255, 0));
}
.stars2 {
  z-index: 0;
  animation: space 240s ease-in-out infinite;
  background-image: radial-gradient(
      1px 1px at 75px 125px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(1px 1px at 100px 75px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 199px 100px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2px 2px at 20px 50px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 100px 5px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 5px 5px, white, rgba(255, 255, 255, 0));
}
.stars3 {
  z-index: 0;
  animation: space 300s ease-in-out infinite;
  background-image: radial-gradient(
      1px 1px at 10px 10px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(1px 1px at 150px 150px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 60px 170px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 175px 180px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2px 2px at 195px 95px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 95px 145px, white, rgba(255, 255, 255, 0));
}

.gradient-cloud {
  background-image: url("../img/gradient_clouds.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1100px;
  margin-top: -50em;
  @media (min-width: 1800px) {
    height: 1500px;
    margin-top: -54em;
  }
}

.gradient-cloud-outer {
  background-color: #FFFFFF;
  background: -webkit-linear-gradient(
                  to bottom,
                  #FFFFFF,
                  #66a4b3
  );
  background: linear-gradient(to bottom, #FFFFFF, #66a4b3);
}

#navbar {
  background-color: rgba(69,69,69,0);
  transition: 0.3s all;
  // background-color: rgba(69,69,69,1);
  float: none;
  // text-align: center;
  height: 5rem;

  .nav-link {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    // padding-left:2rem;
    // padding-right:2rem;
    
  }
  .nav-link:hover {
    opacity:0.7;
  }
}

.changeColor {
  background-color: rgba(69,69,69,1) !important;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}


article.body {
  color: $grey;
  background-color: $white;
  padding-bottom: 0rem;
  position: relative;
  z-index: 5;
  font-size: 1.8rem;

  section.dono-story {
    @extend .section;
    background-color: #122230;
    color: $white;
    padding-bottom: 3rem;

    div.dono-story-text {
      @media (min-width: 767.98px) {
        padding-right: 11rem;
      }
    }

    div.dono-img {
      border-radius: 5%;
      max-width: 100%;
      height: 300px;
      background-image: url(../img/donation_page/donation-1.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  section.dono-promise {
    @extend .section;
    background-color: #0d1924;
    color: $white;
    margin-bottom: 3rem;
    //margin-top: 3rem;
    padding-top: 5rem;

    div.dono-promise-text {
      @media (min-width: 767.98px) {
        padding-left: 11rem;
      }
    }

    div.dono-img-2 {
      border-radius: 5%;
      height: 275px;
      //margin-top: 5em;
      background-image: url(../img/donation_page/donation-2.jpg);
      background-size:cover;
      background-position:center;
      background-repeat:no-repeat;
    }
  }
  section.dono-impact {
    @extend .section;
    $section-bg-color: #070d13;
    background-color: $section-bg-color;
    color: $white;
    padding-top: 1rem;
    padding-bottom: 3rem;
    margin-top: -3rem;

    p {
      text-align: center;
    }
    div.dono-heading {
      padding-bottom: 1em;
      font-size: 4em;
      color:$pink;
      text-align: center;
    }
  }
  section.dono-questions {
    @extend .section;
    $section-bg-color: $black;
    background-color: $section-bg-color;
    color: $white;
    padding-top: 1rem;
    margin-top: -3rem;
  }
  section.intro {
    @extend .section;
    .video {
      border-radius: 0.8rem;
      overflow: hidden;
    }
    div.text-container {
      color: $darker-grey;
      @media (min-width: 767.98px) {
        background-color: $grey-transparent;
        opacity: 0.99;
        color: white;
        margin: -4rem;
        padding: 4rem;
        border-radius: 4%;
      }
    }
    div.round-frame {
      border-radius: 25px;
    }
    iframe {
      width: 100%;
      //height: 40rem;
      background-color: black;
      // Small devices (landscape phones, 576px and up)
      @media (max-width: 767.98px) {
        //margin-top: -4rem;
        //height: 20rem;
      }
    }
  }
  section.registration {
    @extend .section;
    $registration-section-bg-color: #243d49;
    padding-top: 0rem;
    background-color: $registration-section-bg-color;
    background: -webkit-linear-gradient(
      to bottom,
      #66a4b3,
      #192e3a
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #66a4b3, #192e3a);
    color: $white;

    .col-lg-3 {
      padding: 0.5rem;
    }
    div.register-card {
      font-size: 1.5rem !important;
      border: 3px solid white;
      // min-height: 505px;
      padding: 2.5rem;
      border-radius: 2rem;

      //margin-top: 4rem + 2rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      -webkit-flex: 1; /* Safari 6.1+ */
      -ms-flex: 1; /* IE 10 */
      flex: 1;

      @media (max-width: 992px) {
        margin-bottom: 12rem;
      }

      p {
        text-align: left;
      }
      .disabled {
        opacity: 0.5 !important;
        pointer-events: none !important;
      }
      div.img-holder {
        border: 3px solid white;
        background-color: $registration-section-bg-color;
        border-radius: 7rem;
        position: relative;
        top: -7rem - 4rem;
        align-self: center;
        width: 14rem;
        height: 14rem;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 8rem;
          // padding: 1rem;
          &.ufo {
            width: 10rem;
          }
        }
      }
      .button {
        padding: 0.8rem 0rem;
        width: 100%;
        display: block;
        margin-bottom: 0;
        margin-top: auto;
        background-color: transparent;
        border-radius: 5%;
        font-size: 1.5rem;
      }
      &.cyan {
        display: flex;
        text: white;
        border-color: $cyan;
        .img-holder {
          border-color: $cyan;
        }
        a {
          border-color: $cyan;
          &:hover {
            background-color: $cyan;
          }
        }
      }
      &.lavender {
        display: flex;
        border-color: $lavender;
        .img-holder {
          border-color: $lavender;
        }
        a {
          border-color: $lavender;
          &:hover {
            background-color: $lavender;
          }
        }
      }
      &.pink {
        display: flex;
        border-color: $pink;
        .img-holder {
          border-color: $pink;
        }
        a {
          border-color: $pink;
          &:hover {
            background-color: $pink;
          }
        }
      }
      p {
        color: white;
        margin-top: -8rem;
        margin-bottom: 4rem;
      }
    }
  }
  section.faq {
    @function multiple-box-shadow($n) {
      $value: "#{random(2000)}px #{random(2000)}px #FFF";
      @for $i from 2 through $n {
        $value: "#{$value} , #{random(2000)}px #{random(2000)}px #FFF";
      }
      @return unquote($value);
    }
    @extend .section;
    background-color: #122230;
    background: -webkit-linear-gradient(
      to bottom,
      #192e3a,
      #12202b
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #192e3a, #12202b);
    color: $white;
    .heading {
      margin-bottom: 6rem - 4rem;
    }
    .accordion {
      cursor: pointer;
      // padding: 18px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      border: none;
      padding-bottom: 1rem;
      padding-top: 4rem;
      margin-bottom: 2rem;
      border-bottom: 3px solid rgba(255, 255, 255, 0.1);
      background-color: transparent;
      text-align: left;
      outline: none;
      transition: ease all 0.3s;
    }

    .active,
    .accordion:hover {
      // background-color: #ccc;
      border-color: $cyan;
      @media (max-width: 767.98px) {
        border-color: $grey;
      }
    }

    .accordion:active {
      @media (max-width: 767.98px) {
        border-color: $cyan;
      }
    }

    .panel {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.1s ease-out;
    }
  }

  section.speakers {
    @extend .section;
    $schedule-section-bg-color: #070d13;
    background-color: $schedule-section-bg-color;
    background: linear-gradient(to bottom, #192e3a, #192e3a);
    color: white;
    text-align: center;

    div.text-container {
      @media (min-width: 767.98px) {
        background-color: $grey-transparent;
        opacity: 0.99;
        color: white;
        margin: -4rem;
        padding: 4rem;
        border-radius: 4%;
      }
    }
    div.round-frame {
      border-radius: 25px;
    }

    .scard {
      padding-top: 3rem;
      border: 3px solid white;
      border-radius: 2rem;
      margin: 1.5rem 0.5rem 1.5rem 0.5rem;
    }

    h2 {
      font-weight: bold;
    }

    .lavender-text {
      color: $lavender;
    }

    .img-holder  {
      width: 200px;
      height: 200px;
      overflow: hidden;
      margin: 5rem auto 3rem auto;

      background: linear-gradient(to right, cyan, rgb(255, 153, 255)) !important;
      padding: 3px;
      border-radius: 50%;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      padding: 3px;
    }



    .accordion {
      cursor: pointer;
      // padding: 18px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      border: none;
      padding-bottom: 1rem;
      padding-top: 4rem;
      margin-bottom: 2rem;
      border-bottom: 3px solid rgba(255, 255, 255, 0.1);
      background-color: transparent;
      text-align: left;
      outline: none;
      transition: ease all 0.3s;
    }

    .accordion-holder {
      margin: 3rem;
    }

    .active,
    .accordion:hover {
      // background-color: #ccc;
      border-color: $cyan;
      @media (max-width: 767.98px) {
        border-color: $grey;
      }
    }

    .accordion:active {
      @media (max-width: 767.98px) {
        border-color: $cyan;
      }
    }

    .panel {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.1s ease-out;
    }
  }

  section.donate {
    @extend .section;
    $section-bg-color: #101f2b;
    background-color: $section-bg-color;
    color: white;
    .caption {
      margin-bottom: 4rem;
    }
    .button:hover {
      background-color: $white;
      color: $pink;
      border-color: $white;
    }

      .text-center{
          position:relative;
          z-index:3;
      }
    img.blueplanet {
      position:absolute;
      width: 20%;
      left: 1%;
    }
    img.purpleplanet {
      position:absolute;
      width: 15%;
      right: 1%;
    }

    img.site-stars {
      opacity: .5;
      position: absolute;
      overflow: hidden;
      justify-content: left;
      margin-left: -5%;
    }

  }

  section.sponsors {
    @extend .section;
    $section-bg-color: #0d1924;
    background-color: $section-bg-color;
    background: -webkit-linear-gradient(
      to bottom,
      #12202b,
      #1c1f22
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #12202b, #1c1f22);

    color: white;
    h1 {
      margin-bottom: 4rem;
    }
    img.site-stars {
      opacity: .5;
      position:absolute;
      overflow: hidden;
      justify-content: left;
      margin-left: -5%;
    }
    .caption {
      margin-top:10rem;
      position: relative;
      z-index: 100;
    }
    .base-sponsor {
      padding: 4rem 0rem;
      img {
        max-width: 24rem;
        max-height: 6rem;
        opacity: 0.7;
        transition: ease all 0.1s;
        &:hover {
          opacity: 1;
          transform: scale(1.05);
        }
      }
    }
    .gold-sponsor {
      @extend .base-sponsor;
      img {
        max-width: 28rem;
        max-height: 8rem;
      }
    }
    .silver-sponsor {
      @extend .base-sponsor;
    }
    .sponsor {
      @extend .base-sponsor;
    }
    .small-sponsor {
      @extend .base-sponsor;
    }

    .accordion {
      display: flex;
      justify-content: space-between;
      width: 100%;
      border: none;
      padding-bottom: 1rem;
      padding-top: 4rem;
      margin-bottom: 2rem;
      background-color: transparent;
      border-bottom: 3px solid transparent;
      border-image: linear-gradient(to right, cyan, rgb(255, 153, 255));
      border-image-slice: 1;
      padding: 25px;
      text-align: left;
      outline: none;
      transition: ease all 0.3s;
    }
  }
}

section.dono-impact {
  @extend .section;
  div.impact-card {
    border: 3px solid white;
    // min-height: 505px;
    padding: 1rem;
    border-radius: 2rem;
    //margin-top: 4rem + 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */
    flex: 1;

    @media (max-width: 992px) {
      margin-bottom: 12rem;
      &.last {
        margin-bottom: 4rem;
      }
    }
    p {
      text-align: center;
      margin-top: -8rem;
      margin-bottom: 4rem;
    }
    .disabled {
      opacity: 0.5 !important;
      pointer-events: none !important;
    }
    div.img-holder {
      $section-bg-color: #070d13;
      background-color: $section-bg-color;
      border: 12px double white;
      border-radius: 7rem;
      position: relative;
      top: -7rem - 4rem;
      align-self: center;
      width: 14rem;
      height: 14rem;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 8rem;
        // padding: 1rem;
        &.ufo {
          width: 10rem;
        }
      }
    }
    .dono-prices {
      padding-left: 3rem;
      padding-right: 3rem;
    }

    .cyan-text {
      color: $cyan;
    }
    .pink-text {
      color: $pink;
    }

    .lavender-text {
      color: $lavender;
    }

    .button {
      padding: 0.8rem 0rem;
      width: 100%;
      display: block;
      margin-bottom: 0;
      margin-top: auto;
      background-color: transparent;
    }
    &.cyan {
      display: flex;
      border-color: $cyan;
      .img-holder {
        border-color: $cyan;
      }
      a {
        border-color: $cyan;
        &:hover {
          background-color: $cyan;
        }
      }
    }
    &.lavender {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      display: flex;
      border-color: $lavender;
      .img-holder {
        border-color: $lavender;
      }
      a {
        border-color: $lavender;
        &:hover {
          background-color: $lavender;
        }
      }
    }
    &.pink {
      display: flex;
      border-color: $pink;
      .img-holder {
        border-color: $pink;
      }
      a {
        border-color: $pink;
        &:hover {
          background-color: $pink;
        }
      }
    }
  }
}




section.sched {
    @extend .section;
    $schedule-section-bg-color: #070d13;
    background-color: $schedule-section-bg-color;
    background: linear-gradient(to bottom, #192e3a, #192e3a);
    color: $white;
    overflow:auto;

    .button-container{
        margin-top:-5%;
        margin-bottom:3%;
    }


    .separator{
        font-size: 2.2rem;
        color:$cyan;
    }

    .daybtn {
        margin-bottom:1rem;
        width:30rem;
        background-color: transparent;
        border: 2px solid;
        border-radius: 50rem;
        padding: 1.4rem 7.2rem;
        font-size: 2.2rem;
        color: $white;
        font-family: "DINPro";
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        transition: all ease 0.15s;


  }


    .star_pos{
        position:absolute;
    }

    #satbtn{
        background-color:$pink;
        border-color:$pink;
        color:white;


    }

    .daybtn:hover {
             background-color:$pink;
             border-color:$pink;
             color: white;
    }

    #sunbtn{
        background-color:transparent;
        border-color:white;
        color:white;

    }


    #sunday{
        transition: all ease 0.15s;
    }
    #saturday{
        transition: all ease 0.15s;

    }


    div.img-holder {
        border: 3px solid $lavender;
        background-color: #192e3a;
        border-radius: 7rem;
        position: relative;
        left: 50%;
        margin-left: -7rem;
        top: -7rem - 1rem;
        align-self: center;
        width: 14rem;
        height: 14rem;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 19rem;
            // padding: 1rem;
        }
    }

    .sched-box {
        border: 3px solid;
        border-color: $lavender;
        border-radius: .8rem;
    }

    .divTable {
        display: table;
    }

    .divTable h1 {
        margin-left: 1rem;
    }

    .divTableRow {
        display: table-row;
    }

    .divTableRow .divTableCell {
        display: table-cell;
        padding: 2rem 2rem .3rem;
        font-weight: bold;
        text-align: left;

    }

    #sunday {
        display: table-row-group;
        display: none;
    }

    .divTableHeader .divTableCell {
        font-size: 1.8rem;
        font-weight: bold;
        color: $white;
        border-bottom: 2px solid $cyan;
    }


    .divTableRow .divTableCell:first-child {
        margin: 0;
        text-align: left;
        padding: 0;
        padding-left: 1rem;
        width: 1%;
    }



    .divTableRow .divTableCell:nth-child(2) {
        tex-align: left;

    }

    .divTableRow .divTableCell:nth-child(3) {
        text-align: left;
    }


    .divTableBody {
        display: table-row-group;
    }

    .divTableBody .divTableRow:last-child div{

        border:none;

    }

    .divTable .divTableRow div{
        padding-left:10rem;
        padding-right:5rem;
    }
    .separator div{
        padding-left:10rem;
        padding-right:5rem;
    }

    .divTable .divTableRow div:first-child{
        padding-left:2.5rem;
        margin-right:10rem;
    }

    @media only screen and (max-width: 414px) {

        .divTable .divTableRow div:first-child {
            padding-left: 2rem;
            margin-right: 5rem;
        }

        .divTableHeader .divTableCell {
            font-size: 1.4rem;
        }

         .divTable .divTableRow div {
             padding-left: 3.7rem;
             padding-right: 5rem;
         }

    }

     @media only screen and (max-width: 375px) {

        .divTable .divTableRow div:first-child {
            padding-left: 2rem;
            margin-right: 5rem;
        }

        .divTableHeader .divTableCell {
            font-size: 1.4rem;
        }

         .divTable .divTableRow div {
             padding-left: 2rem;
             padding-right: 3rem;
         }

    }

     @media only screen and (max-width: 320px) {



        .divTable .divTableRow div:first-child {
            padding-left: 2rem;
            margin-right: 5rem;
        }

        .divTableHeader .divTableCell {
            font-size: 1.4rem;
        }

         .divTable .divTableRow div {
             padding-left: 2rem;
             padding-right: 1rem;
         }

          .daybtn{
             width:100%;
         }

         .heading{
             margin-bottom:9rem;
         }

    }




}

article.contact {
  @extend .section;
  $section-bg-color: #070d13;
  background-color: $section-bg-color;
  background: -webkit-linear-gradient(
      to bottom,
      #1c1f22,
      #000000

    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #1c1f22,black );
  text-align: center;
  position: relative;
  z-index: 5;


  .heading {
    text-align: center;
  }
  h1 {
    margin-bottom: 4rem;
  }
  h1,
  h2 {
    color: $white;
  }

  .list-inline li {
    list-style: inline;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    a {
      width: 6rem;
      padding: 0;
      height: 6rem;
      display: inline-block;
      .social {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        width: 100%;
        height: 100%;
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }

    img{
        width:8rem;
        height: auto;
    }


}

article.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
  z-index: 5;
  background-color: $black;
  text-align: center;
  p {
    color: white;
    font-size: 1.8rem;
  }
  #footer-links {
    // font-size: 2.3rem;
    color: $white;
    margin-bottom: 1rem;
  }
}

/* Animates main section of the website */
.animate {
  background: linear-gradient(270deg, #00ffff, #ff7bac);
  background-size: 400% 400%;

  -webkit-animation: GradientAnimation 10s ease infinite;
  -moz-animation: GradientAnimation 10s ease infinite;
  animation: GradientAnimation 10s ease infinite;
}

.static-gradient {
  background: #ff7bac; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(
    right,
    #00ffff,
    #ff7bac
  ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(
    right,
    #00ffff,
    #ff7bac
  ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    right,
    #00ffff,
    #ff7bac
  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #00ffff, #ff7bac); /* Standard syntax */
}
#color-burst-img {
  position: absolute;
  display: none;
  top: -220%;
  pointer-events: none;
  left: -12%;
  width: 120%;
  z-index: 1;
}

/* Animates shooting star */
$shooting-time: 3000ms;

.night {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateZ(45deg);
  // animation: sky 200000ms linear infinite;
}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  // width: 100px;
  height: 2px;
  background: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  border-radius: 999px;
  filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
  animation: tail $shooting-time ease-in-out infinite,
    shooting $shooting-time ease-in-out infinite;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: calc(50% - 1px);
    right: 0;
    // width: 30px;
    height: 2px;
    background: linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
    );
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    animation: shining $shooting-time ease-in-out infinite;
  }

  &::after {
    @extend .shooting_star::before;
    transform: translateX(50%) rotateZ(-45deg);
  }

  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      $delay: random(9999) + 0ms;
      top: calc(50% - #{random(400) - 200px});
      left: calc(50% - #{random(300) + 0px});
      animation-delay: $delay;
      // opacity: random(50) / 100 + 0.5;

      &::before,
      &::after {
        animation-delay: $delay;
      }
    }
  }
}

@keyframes tail {
  0% {
    width: 0;
  }

  30% {
    width: 100px;
  }

  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }

  50% {
    width: 30px;
  }

  100% {
    width: 0;
  }
}

@keyframes shooting {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(300px);
  }
}

@keyframes sky {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(45 + 360deg);
  }
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.row-eq-height > [class*="col-"] {
  display: flex;
  flex-direction: column;
  //-webkit-flex: 1; /* Safari 6.1+ */
  //-ms-flex: 1; /* IE 10 */
  //flex: 1;
}

@-webkit-keyframes GradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes GradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes GradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
